* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.swiper {
  /* width: 100%;
  height: 500px; */
}

.swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width: 250px;
  height: 200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
